body {
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
}

#logo{
    width: 3.5rem;
    height: 3.5rem;
}

.main-section{
    margin-top: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

.navbar, .footer-classic{
    background-color: rgb(255, 154, 255);
    color: rgb(51, 0, 51);
}

.navbar-dark .navbar-toggler{
    color: rgb(51, 0, 51);
    border-color: rgb(51, 0, 51);
    border: 1.5px solid;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-item {
    margin-right: 1rem;
    font-weight: bold;
    font-size: 22px;
    color: rgb(51, 0, 51);
}

.nav-link.active {
    color: rgb(51, 0, 51);
    border-bottom: solid 4px rgb(51, 0, 51);;
}

.social-icons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
  }
  
.social-icons i {
    color: rgb(51, 0, 51);
    font-size: 26px;
}

.welcome-title{
    font-size: 5rem;
}

.description-text{
    font-size: 3rem;
}

.users-cels-header{
    text-align: center;
    background-color: rgb(51, 0, 51);
	color: #fff;
	border: solid 1px rgb(51, 0, 51);
	border-width: 1px;
    font-size: 1.25rem;
}

.user-cels{
    text-align: center;
    border: solid 1px rgb(51, 0, 51);
    border-width: 1px;
    font-size: 1rem;
}

.user-cels a{
    color: rgb(51, 0, 51);
}

.user-cels a:hover{
    text-decoration: none;
}

.user-name-cel:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.signup-text{
    color: rgb(51, 0, 51);
}

.btn-save{
    background-color: rgb(51, 0, 51);
    color: #fff;
}

.btn-save:hover{
    background-color: rgb(255, 154, 255);
    color: rgb(51, 0, 51);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

@media screen and (max-width: 750px) {
	.mobile-user-name{
        background-color: rgb(51, 0, 51);
        color: #fff;
    }

    .user-cels a{
        color: #fff;
    }

}